// File: 16f676_g.lkr
// Generic linker script for the PIC16F676 processor

#DEFINE _CODEEND _DEBUGCODESTART - 1
#DEFINE _CEND _CODEEND + _DEBUGCODELEN
#DEFINE _DATAEND _DEBUGDATASTART - 1
#DEFINE _DEND _DATAEND + _DEBUGDATALEN

LIBPATH .


#IFDEF _DEBUGCODESTART
  CODEPAGE   NAME=page       START=0x0               END=_CODEEND
  CODEPAGE   NAME=debug      START=_DEBUGCODESTART   END=_CEND        PROTECTED
#ELSE
  CODEPAGE   NAME=page       START=0x0               END=0x3FE                    
#FI

CODEPAGE   NAME=oscval     START=0x3FF             END=0x3FF          PROTECTED 
CODEPAGE   NAME=.idlocs    START=0x2000            END=0x2003         PROTECTED 
CODEPAGE   NAME=.device_id START=0x2006            END=0x2006         PROTECTED 
CODEPAGE   NAME=.config    START=0x2007            END=0x2007         PROTECTED 
CODEPAGE   NAME=eedata     START=0x2100            END=0x217F         PROTECTED 

DATABANK   NAME=sfr0       START=0x0               END=0x1F           PROTECTED
DATABANK   NAME=sfr1       START=0x80              END=0x9F           PROTECTED


#IFDEF _DEBUGDATASTART
  SHAREBANK  NAME=dbgnobnk   START=0x20            END=0x20           PROTECTED
  SHAREBANK  NAME=dbgnobnk   START=0xA0            END=0xA0           PROTECTED

  SHAREBANK  NAME=gpr0       START=0x21            END=0x5F           
  SHAREBANK  NAME=gpr0       START=0xA1            END=0xDF           PROTECTED
#ELSE
  SHAREBANK  NAME=gpr0       START=0x20            END=0x5F           
  SHAREBANK  NAME=gpr0       START=0xA0            END=0xDF           PROTECTED
#FI

SECTION    NAME=PROG       ROM=page            // ROM code space
SECTION    NAME=OSCVAL     ROM=oscval          // Oscillator value
SECTION    NAME=IDLOCS     ROM=.idlocs         // ID locations
SECTION    NAME=DEVICEID   ROM=.device_id      // Device ID
SECTION    NAME=DEEPROM    ROM=eedata          // Data EEPROM

