// File: 16lf873_g.lkr
// Generic linker script for the PIC16LF873 processor
//// Begin: Added in gputils
//=========================================================================
//
//      Gputils Specific Revision History
//
//=========================================================================
//
//      14 Sep 2015  Added "NAME=gpr[0-3]" sections.
//                   Changed SHAREBANK sections.
//
//// End: Added in gputils

LIBPATH .

CODEPAGE   NAME=page0      START=0x0               END=0x7FF                    
CODEPAGE   NAME=page1      START=0x800             END=0xFFF                    
CODEPAGE   NAME=.idlocs    START=0x2000            END=0x2003         PROTECTED 
CODEPAGE   NAME=devid      START=0x2006            END=0x2006         PROTECTED 
CODEPAGE   NAME=.config    START=0x2007            END=0x2007         PROTECTED 
CODEPAGE   NAME=eedata     START=0x2100            END=0x217F         PROTECTED 

DATABANK   NAME=sfr0       START=0x0               END=0x1F           PROTECTED
DATABANK   NAME=sfr1       START=0x80              END=0x9F           PROTECTED
DATABANK   NAME=sfr2       START=0x100             END=0x10F          PROTECTED
DATABANK   NAME=sfr3       START=0x180             END=0x18F          PROTECTED

//// Begin: Added in gputils
DATABANK   NAME=gpr0       START=0x20              END=0x6F
DATABANK   NAME=gpr1       START=0xA0              END=0xEF
DATABANK   NAME=gpr2       START=0x110             END=0x16F
DATABANK   NAME=gpr3       START=0x190             END=0x1EF
//// End: Added in gputils

//// Begin: Changed in gputils
////SHAREBANK  NAME=gpr0       START=0x20            END=0x7F           
////SHAREBANK  NAME=gpr0       START=0x120           END=0x17F          PROTECTED
////SHAREBANK  NAME=gpr1       START=0xA0            END=0xFF           
////SHAREBANK  NAME=gpr1       START=0x1A0           END=0x1FF          PROTECTED
SHAREBANK  NAME=gprnobnk   START=0x70            END=0x7F
SHAREBANK  NAME=gprnobnk   START=0xF0            END=0xFF           PROTECTED
SHAREBANK  NAME=gprnobnk   START=0x170           END=0x17F          PROTECTED
SHAREBANK  NAME=gprnobnk   START=0x1F0           END=0x1FF          PROTECTED
//// End: Changed in gputils

SECTION    NAME=PROG1      ROM=page0           // ROM code space - page0
SECTION    NAME=PROG2      ROM=page1           // ROM code space - page1
SECTION    NAME=IDLOCS     ROM=.idlocs         // ID locations
SECTION    NAME=DEEPROM    ROM=eedata          // Data EEPROM

